<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/MyDate.js"></script>
</head>
<body>
<!-- v-model中不同的双向绑定 -->
<div id="app">
	姓名：<input type="text" v-model="user.name">{{user.name}}<br>
	性别：<input type="radio" v-model="user.sex" name="sex" value="男">男
		<input type="radio" v-model="user.sex" name="sex" value="女">女<br>
	爱好：<input type="checkbox" v-model="user.hobby" name="hobby" value="吃饭">吃饭
		<input type="checkbox" v-model="user.hobby" name="hobby" value="睡觉">睡觉
		<input type="checkbox" v-model="user.hobby" value="打豆豆">打豆豆<br>
	生日：<input type="date" v-model="user.brithday">{{user.brithday}}<br>
	班级：<select v-model="user.dept">
			<option value="0">--请选择--</option>
			<option value="1">--小班--</option>
			<option value="2">--大班--</option>
		</select>
</div>

<script type="text/javascript">
	var app = new Vue({
		el:"#app",
		data:{
			user:{
				name:"豆丁",
				sex:"女",
				//数组
				hobby:["睡觉","打豆豆"],
				brithday:new Date(1582682992).Format('yyyy-MM-dd'),
				dept:"1"
			}
		}
	
	});

</script>
</body>
</html>